.QuestionsConstruct {
    width: 800px;
    margin: 30px auto;

    .Title {
        text-align: center;
        margin-bottom: 30px;
    }

    .Questions {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Footer {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}