.Matchmaking {
    display: flex;

    .Checkmark,
    .Crossmark {
        margin-left: 20px;
    }

    .Checkmark {
        font-weight: bold;
        color: green;
        font-size: 20px;
    }

    .LeftList {
        width: 50%;

        .ListItem {
            display: flex;

            .Option {
                padding-left: 3%;
                width: 60%;
            }

            .Select {
                width: 30%;
                display: flex;
            }
        }
    }

    .RightList {
        .ListItem {
            display: flex;
            justify-content: flex-end;
            padding-right: 15%;
        }

        width: 50%;

        .Option {
            padding-left: 3%;
        }
    }

    .ListItem {
        margin-bottom: 10px;
    }
}