.Header {
    // position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);

    .AppName {
        margin-right: 70px;
    }

    .Search {
        margin-right: 50px;
    }

    .Types {
        display: flex;
        justify-content: space-between;
        width: 200px;
        margin-right: 0px;

        .Surveys,
        .Quizes {
            display: flex;
            align-items: center;
            padding: 0px 10px;

            &:hover {
                cursor: pointer;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }
        }
    }

    .Avatar_DropdownMenu {
        position: relative;
        width: 250px;
        display: flex;
        justify-content: right;

        .Avatar {
            &:hover {
                cursor: pointer;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
            }
        }

        .DropdownMenu {
            box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
            position: absolute;
            top: 65px;
            right: 0px;
            z-index: 100;
        }
    }
}

.Categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 0px;
}

.SurveyCards {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 40px auto;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Message {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Loading, .Error {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}