$green: rgb(92,182,96);
$red: rgb(247, 84, 81);

.Options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    .Option {
        .Checkmark,
        .Crossmark {
            margin-left: 10%;
        }

        .Checkmark {
            color: $green;

        }

        .Crossmark {
            color: $red;
        }
    }
}