.Survey {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .Wrapper {
        width: 900px;

        .Header {
            .SurveyImage {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                height: 250px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
            }
        
            .SurveyDetails {
                margin: 20px auto;
                padding: 10px 0px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    
                .Title {
                    text-align: center;
                    margin: 10px 0px;
                }
    
                .Description {
                    padding: 5px 20px;
                    font-size: 20px;
                }
            }
        }

        .Questions {
            list-style-type: none;
            margin: 0;
            padding: 0;

            .Question {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }
}

.Loading, .Error {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

