.SurveyAnswers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

    .Wrapper {
        width: 900px;

        .Header {
            .SurveyImage {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                height: 250px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
                width: 80%;
            }
        
            .TitleDescription {
                margin: 20px auto;
                padding: 10px 0px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
                width: 80%;
    
                .Title {
                    text-align: center;
                    margin: 10px auto;
                    text-align: center;
                }
    
                .Description {
                    padding: 5px 20px;
                    font-size: 20px;
                }
            }

            .CompletionStatistics {
                margin: 20px auto;
                padding: 40px 40px 30px 40px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
                width: 80%;

                .Username {
                    margin-bottom: 25px;
                }

                .Statistics {
                    display: flex;
                    justify-content: space-between;
                }

                p {
                    font-size: 20px;
                }

                strong {
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }

        .AnswersToQuestions {
            list-style-type: none;
            margin: 0;
            padding: 0;
        
            .AnswerToQuestion {
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 20px 0px;
            }
        }
    }
}

.Loading, .Error {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}