.MatchmakingQuestionConstruct {
    width: 100%;

    .Matches {
        display: flex;
        justify-content: space-between;

        .Option {
            margin-bottom: 10px;
        }

        .LeftList {
            width: 55%;
        }
    
        .RightList {
            width: 40%;
        }
    }

    .Footer {
        margin-top: 30px;
    }
}