.Option {
    margin-bottom: 10px;
    width: 100%;
}

.ChoiceQuestionConstruct {
    width: 100%;
}

.Header {
    display: flex;

    .NumberLabel {
       margin-right: 15px;
    }
    
    .OptionLabel {
        margin-right: 390px;
    }

    .ScoreLabel {
        width: 10%;
    }
}